@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";
@import "../../styles/components.scss";

.how-to-page {
  @extend .page;
  

  .how-to-page__title {
    @extend .header-2;
  }

  .how-to-page__description {
    padding: 0 20px;
  }

  .how-to-page__video {
    width: 750px;
    height: 450px;
    
  }

  .how-to-page__button {
    @extend .page-button;
  }

  & > * {
    @extend .body-text;
  }
}