@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

$boxWidth: 120px;
$boxHeight: 630px;

.character-filter {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  border: 3px solid $border-color-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $boxWidth;
  box-shadow: $md-shadow;
  height: $boxHeight;

  .character-filter__collapse {
    position: relative;
    top: -6px;
    right: -45%;
    transition: all 0.1s;
    height: 10px;

    &:hover {
      cursor: pointer;
      font-weight: 800;
    }
  }

  .character-filter__title {
    @extend .header-2;
    padding-bottom: 10px;
    user-select: none;
  }

  .character-filter__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .character-filter__buttons {
    text-align: center;
    margin-top: 10px;

    .character-filter__button {
      @extend .label-1;
      padding: 3px 8px;
      border: 1px solid gray;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background: $hover-bg-color;
        color: white;
      }
    }

    & > * {
      margin-bottom: 5px;
    }
  }
}


.collapsed-character-filter {
  width: 3px;
  height: $boxHeight;
  padding: 0px;
  transition: all 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: lightgrey;
  }
}

.collapsed-character-filter * {
  opacity: 0;
  display: none;
}
