@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

$boxWidth: 120px;

.character-filter {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  border: 3px solid $border-color-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $boxWidth;

  .character-filter__title {
    @extend .curvy-header;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .character-filter__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
