@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.event-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $white;
  padding: 7px;
  border-radius: 10px;
  border: 3px solid $border-color-green;
  box-shadow: $md-shadow;
  width: 300px;

  .event-popup__place {
    @extend .header-2;
    text-align: center;
    padding-bottom: 0;
  }

  .event-popup__divider {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.733);
    margin-bottom: 10px;
  }

  .event-popup__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .event-popup__arrow {
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }

    .event-popup__title {
      @extend .subheader-2;
      font-weight: 400;
    }
  }

  .event-popup__content {
    display: flex;
    flex-direction: column;
    @extend .body-text;

    .event-popup__date {
      @extend .subheader-1;
      color: $body-text-color;
      text-align: center;
    }

    .event-popup__description {
      color: black;
      font-size: 14px;
    }

    .event-popup__wiki {
      color: $body-text-color;
      text-align: right;
      cursor: pointer;
    }

    .event-popup__characters {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .character-avatar .character-avatar__image:hover {
        cursor: default;
        opacity: 1;
      }
    }

    & > * {
      padding-bottom: 8px;
    }
  }

  & > * {
    padding-bottom: 5px;
  }

  & > *:last-child {
    padding-bottom: 0;
  }
}
