#debugDot {
    fill: red;
    cursor: move;
}

.highlightedLine {
    stroke-width: 7;
    fill: none;
}

.fadedLine {
    stroke-width: 7;
    stroke-opacity: 0.2;
    fill: none;
}

.regularLine {
    stroke-width: 7;
    fill: none;
}

.fadedCircle {
    fill-opacity: 0.2;
    stroke: none;
}

.regularCircle {
    stroke: none;
}

.animatedLine {
    stroke-width: 3;
    stroke: white;
    stroke-dasharray: 20;
    stroke-dashoffset: 1000;
    
    animation: dash 50s linear forwards;
    animation-iteration-count: infinite;

    fill: none;
    pointer-events: none;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}