@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.debugDot {
  display: flex;
  align-items: center;
  @extend .body-text-1;
  line-height: 20px;

  input[type="checkbox"] {
    margin: 0;
    margin-left: 5px;

    vertical-align: middle;
  }
}
