@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.debugDot {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  border: 3px solid $border-color-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    font-size: 12px;
    line-height: 20px;
  }

  input[type="checkbox"] {
    margin: 0;
    margin-left: 5px;
    
    vertical-align: middle;
  }

}
