@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

$avatarSize: 45px;

.character-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;

  .character-avatar__image {
    width: $avatarSize;
    height: $avatarSize;
    border: 4px solid gray;
    border-radius: 35px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .character-avatar__name {
    font-family: 'Aniron';
    font-size: 9px;
  }

  &[data-active="false"] {
    .character-avatar__image {
      filter: grayscale(100%);
    }
  }
}
