@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.time-selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .time-selector__date {
    flex: 4;
    text-align: center;
    padding: 0 2px;
    

    .time-selector__datevalue {
      font-family: 'Aniron';
      font-size: 14px;
      cursor: pointer;
      line-height: 20px;
      user-select: none;

      &:hover {
        transform: scale(1.05);
      }
    }

    &[data-variant="secondary"] {
      opacity: 0.5;
    }

    &[data-variant="primary"]:hover {
      .time-selector__datevalue {
        opacity: 0.8;
      }
    }
  }

  .time-selector__arrow {
    flex: 1;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    line-height: 20px;
    user-select: none;
    transform: translateY(-1px);
    color: $body-text-color;
    letter-spacing: -5px;

    &:hover {
      opacity: 0.8;
    }
  }
}
