@font-face {
  font-family: "Aniron";
  src: local("Aniron"), url(../assets/fonts/anirm.ttf) format("truetype");
}
@font-face {
  font-family: "Morris Roman Black";
  src: local("Morris"), url(../assets/fonts/MorrisRomanAlternate-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Ringbearer";
  src: local("Ringbearer"), url(../assets/fonts/RINGM.ttf) format("truetype");
}
@font-face {
  font-family: "Elvish Ring";
  src: local("Elvish"), url(../assets/fonts/elvish-ring-nfi.ttf) format("truetype");
}

.curvy-header {
  font-family: "Dancing Script", cursive;
}

.body-text {
  font-family: "Source Sans Pro", sans-serif;
}


// Used on main header
.header-1 {
  font-family: "Ringbearer", cursive;
  font-size: 24px;
  font-weight: 400;
}

// Titles of character filter box, settings, event title
.header-2 {
  font-family: "Aniron", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

// Used on subtitle under main header
.subheader-1 {
  font-family: "Aniron", sans-serif; 
  font-size: 11px;
}

.subheader-2 {
  font-family: "Aniron", cursive;
  font-size: 14px;
}

// Character avatar name
.label-1 {
  font-family: 'Aniron';
  font-size: 9px;
}

.body-text-1 {
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 14px;
}

.body-text-2 {
  font-family: "Aniron", sans-serif;
  font-size: 10px
}
