// Colors

$bg-color: #fafafa;
$white: #ffffff;
$border-color: #797878;
$shadow-dark-color: #929191;
$header-text-color: #555353;
$body-text-color: #686666;

// Spacing

// Shadow

$sm-shadow: 1px 1px 2px $shadow-dark-color;
