@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.time-navigator {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 535px;

  .time-navigator__books {
    display: flex;

    & > * {
      margin-left: 5px;
    }
  }

  .time-navigator__container {
    text-align: center;
    background-color: $white;
    padding: 8px;
    border-radius: 10px;
    border: 3px solid $border-color-green;
    box-shadow: $md-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
      margin-bottom: 15px;
    }

    & > *:last-child {
      margin-bottom: 5px;
    }
  }

  .time-navigator__state {
    display: flex;
    justify-content: center;
    align-items: center;

    .time-navigator__state-field {
      padding: 3px 4px;
      border: 1px solid $border-color-green;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &[data-active="true"] {
        color: $white; 
        background-color: $active-color;
      }
    }

    & > * {
      margin-right: 5px;
    }
  }
}

$bookButtonSize: 30px;
.book-button {
  position: relative;
  height: $bookButtonSize;
  width: $bookButtonSize;
  background-color: $white;
  border: 2px solid $border-color-green;
  border-radius: 30px;
  display: flex;
  place-items: center;

  .book-button__icon {
    height: 25px;
    width: 25px;
    margin-left: 2px;
  }

  .book-button__id {
    @extend .body-text;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 38%;
    top: 13%;
  }

  &:hover {
    background-color: $hover-bg-color;
    cursor: pointer;
  }

  &[data-active="true"] {
    color: $active-color;
  }

  &[data-active="false"] {
    color: gray;
  }
}
