@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

body {
  overflow: hidden;
}

.small-screen-blocker {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0.95;

  h2 {
      @extend .header-1;
  }

  p {
      @extend .body-text;
  }

  & > * {
      padding: 0 50px;
  }
}
@media only screen and (max-width: 1000px) {
  .small-screen-blocker {
    display: flex;
  }
}
