@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: $white;
  padding: 7px;
  border-radius: 10px;
  border: 3px solid $border-color-green;
  box-shadow: $md-shadow;
  transition: all 0.1s;

  .header-collapse {
    position: relative;
    top: -12px;
    right: -78%;
    transition: all 0.1s;

    &:hover {
      cursor: pointer;
      font-weight: 800;
    }
  }

  .header__title {
    @extend .header-1;
    color: black;
    text-decoration: none;

    &:hover {
      opacity: 0.4;
    }
  }

  .header__divider {
    width: 60%;
    margin: 2px auto;
    border-bottom: 1px solid $border-color;
    opacity: 0.3;
  }

  .header__subtitle {
    @extend .subheader-1;
  }
}

.collapsed-header {
  // width: 10px;
  height: 3px;
  padding: 0px;

  &:hover {
    cursor: pointer;
    background-color: lightgrey;
  }
}

.collapsed-header > * {
  visibility: hidden;
}
