@import "../../styles/shared.scss";
@import "../../styles/fonts.scss";

.settings {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $white;
  padding: 7px;
  border-radius: 10px;
  border: 3px solid $border-color-green;
  box-shadow: $md-shadow;
  width: 200px;

  .settings__header {
    @extend .header-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }

  .settings__caret {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    color: $body-text-color;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    transition: 0.35s all ease-in-out;
    transform-origin: center;

    &[data-open="false"] {
      transform: rotate(180deg);
    }

    &[data-open="true"] {
      transform: rotate(0deg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .settings__content label {
    display: flex;
    align-items: center;
    @extend .body-text-1;
    line-height: 20px;

    input[type="checkbox"] {
      margin: 0;
      margin-left: 5px;

      vertical-align: middle;
    }
  }
}

.setting--scalar {
  display: flex;
  
  .setting__value {
    font-weight: bold;
    width: 15px;
  }

  .setting__button {
    text-align: center;
    font-size: 20px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    user-select: none;

    border: 1px solid gray;
    border-radius: 5px;
    
    &:hover {
      cursor:pointer;
      opacity: 0.8;
      background-color: $active-color;
      color: $white;
    }
  }

  & > * {
    margin-left: 5px;
  }
}
